module "scheduled_batch_job" {
  source = "${module_source}"

  cloud_provider = var.cloud_provider

  name                  = var.name
  container_image       = var.container_image
  container_command     = var.container_command
  environment_variables = var.environment_variables

  schedule_expression = var.schedule_expression
  schedule_timezone   = var.schedule_timezone

  aws_config   = var.aws_config
  gcp_config   = var.gcp_config
  azure_config = var.azure_config

  scheduler_input                              = var.scheduler_input
  enable_command_override_from_scheduler_input = var.enable_command_override_from_scheduler_input

  tags = var.tags
}
