cloud_provider = "azure"

name = "scheduled-batch-azure"

container_image = "mcr.microsoft.com/azure-cli:latest"

container_command = [
  "/bin/sh",
  "-c",
  "echo Hello from Azure Batch; date; env"
]

environment_variables = {
  APP_ENV   = "dev"
  LOG_LEVEL = "info"
}

azure_config = {
  subscription_id     = "00000000-0000-0000-0000-000000000000"
  resource_group_name = "rg-scheduled-batch-azure"
  location            = "westeurope"

  vm_size                   = "STANDARD_D2S_V3"
  target_dedicated_nodes    = 0
  target_low_priority_nodes = 1

  recurrence_frequency = "Day"
  recurrence_interval  = 1
  recurrence_time_zone = "Central Europe Standard Time"
  recurrence_hours     = [3]
  recurrence_minutes   = [0]
}

tags = {
  project = "scheduled-batch"
  env     = "dev"
}
