subscription_id     = "00000000-0000-0000-0000-000000000000"
location            = "westeurope"
resource_group_name = "rg-scheduled-batch-azure-basic"
name                = "scheduled-batch-azure-basic"

container_image        = "mcr.microsoft.com/azure-cli:latest"
container_command_line = "/bin/sh -c \"echo Hello from Azure Batch; date; env\""

tags = {
  project = "scheduled-batch"
  env     = "dev"
}
