aws_region          = "eu-central-1"
name                = "scheduled-batch-basic"
vpc_id              = "vpc-xxxxxxxxxxxxxxxxx"
subnet_ids          = ["subnet-aaaaaaaaaaaaaaaaa", "subnet-bbbbbbbbbbbbbbbbb"]
container_image     = "<aws-account-id>.dkr.ecr.eu-central-1.amazonaws.com/my-batch-job:latest"
assign_public_ip    = false
schedule_expression = "cron(0 3 * * ? *)"
schedule_timezone   = "Europe/Belgrade"

tags = {
  Project = "scheduled-batch"
  Env     = "dev"
}
